<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop - Green Basket</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <!-- Bootstrap core large CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-large.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="hero_area">
    <!-- Header Section -->
    <header class="header_section">
      <nav  style="z-index: 1000;" class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <span>GREEN BASKET</span>
        </a>
        <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('shop') }}">Shop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('why') }}">Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('store') }}">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="{{ url_for('login') }}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>Login</span>
            </a>
            <!-- <a href="#">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a> -->
            <button class="btn btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </nav>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
           Products
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p1.png') }}" alt="">
               
              </div>
              <div class="detail-box">
                <h6>
                  Samyang Ramen Instant Noodles
                </h6>
                <h6>
                  Price
                  <span>
                    140
                  </span>
                </h6>
              </div>
               <div class="new">
               <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p2.png') }}" alt="">
               
              </div>
              <div class="detail-box">
                <h6>
                  Natkhat  Wheat Puffs - Pack of 2
                </h6>
                <h6>
                  Price
                  <span>
                    74
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p3.png') }}" alt="">
               
              </div>
              <div class="detail-box">
                <h6>
                  Maggi Special Masala Spicy
                </h6>
                <h6>
                  Price
                  <span>
                    216
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p4.png') }}" alt="">
                
              </div>
              <div class="detail-box">
                <h6>
                  Amul Lactose  Milk
                </h6>
                <h6>
                  Price
                  <span>
                    25
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p5.png') }}" alt="">
               
              </div>
              <div class="detail-box">
                <h6>
                  Yoga Bar High Protein Muesli
                </h6>
                <h6>
                  Price
                  <span>
                    316
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p6.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Now Healthy Masala Tofu 
                </h6>
                <h6>
                  Price
                  <span>
                    40
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p7.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  MTR (Seviyan) Regular Vermicelli
                </h6>
                <h6>
                  Price
                  <span>
                   73
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/p8.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  iD Wheat Lachha Paratha
                </h6>
                <h6>
                  Price
                  <span>
                    104
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
      
       
        
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p17.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Pav
              </h6>
              <h6>
                Price
                <span>
                  199
                </span>
              </h6>
            </div>
            
          </a>
        </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p18.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Amul 
                Butter 
                

              </h6>
              <h6>
                Price
                <span>
                  179
                </span>
              </h6>
            </div>
            
          </a>
        </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p19.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                pav bhaji masala
              </h6>
              <h6>
                Price
                <span>
                  179
                </span>
              </h6>
            </div>
            
          </a>
        </div>
       </div>
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p20.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Rice 
              </h6>
              <h6>
                Price
                <span>
                  99
                </span>
              </h6>
            </div>
            
          </a>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/pn21.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Urad dal
              </h6>
              <h6>
                Price
                <span>
                  180
                </span>
              </h6>
            </div>
            
          </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p22.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Fenugreek Seeds
              </h6>
              <h6>
                Price
                <span>
                  110
                </span>
              </h6>
            </div>
            
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/p23.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Salt
              </h6>
              <h6>
                Price
                <span>
                  25
                </span>
              </h6>
            </div>
            
          </a>
        </div>
      </div>
      
    
    
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p24.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              OIL
            </h6>
            <h6>
              Price
              <span>
                25
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p25.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Rice Vinegar
            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p26.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Sugar
            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p27.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Pasta

            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p31.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
               Pasta Masala 

            </h6>
            <h6>
              Price
              <span>
                69
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p32.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Pepsi Cola 

            </h6>
            <h6>
              Price
              <span>
                76
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p33.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Real Fruit 
              
            </h6>
            <h6>
              Price
              <span>
                130
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p41.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Bikaneri Bhujia

              
            </h6>
            <h6>
              Price
              <span>
                283
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p42.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Dark Chocolate Granola

              
            </h6>
            <h6>
              Price
              <span>
                280
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p43.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Salt Caramel Popcorn

              
            </h6>
            <h6>
              Price
              <span>
                190
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p40.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Bikaji Falhari
              
            </h6>
            <h6>
              Price
              <span>
                69
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p38.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Uncle Chipps 
              
            </h6>
            <h6>
              Price
              <span>
                20
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p39.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Kurkure Masala
              
            </h6>
            <h6>
              Price
              <span>
                54
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>



            
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p28.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Black pepper
              
            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p29.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Olive Oil
              
            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
          
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p34.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Potato (Aloo)
              
            </h6>
            <h6>
              Price
              <span>
                48
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p35.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Onion (Pyaz)
              
            </h6>
            <h6>
              Price
              <span>
                74
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p36.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Tomato 
              
            </h6>
            <h6>
              Price
              <span>
                56
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p44.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Ginger (Adrak)
              
            </h6>
            <h6>
              Price
              <span>
                30
              </span>
            </h6>
          </div>
         
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/p37.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Cauliflower  
              
            </h6>
            <h6>
              Price
              <span>
                80
              </span>
            </h6>
          </div>
         
        </a>
      </div>
      
  
    </div>
  </div>
  </section>

  <!-- end shop section -->


  <!-- Your shop content goes here -->
  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
       
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              At Green Basket, we’re passionate about delivering fresh, high-quality groceries to your door. Committed to sustainability and supporting local farmers, we strive to make healthy living easy and enjoyable for all. Thank you for choosing us as your trusted grocery partner!
            </p>
          </div>
         
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              We’re here for you! If you have any questions or need assistance with your order, don’t hesitate to reach out. Our friendly customer service team is ready to help you make the most of your Green Basket experience. Contact us anytime!
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Vaishali Nagar, Jaipur </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+91 9571227901</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> gauravsinghrathore0045@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   

  </section>


  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-large.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</html>
